.viewport {
    width: 100%;
    height: 100%;


    position: relative;
    // margin: 0 auto;
    background-color: #f0f;
}



#sample-image {
    vertical-align: top;
}

canvas {
    
    margin: 0;
    padding: 0;
}

#buffer-context {
    //background-color: #fff;
}

#second-context {
    vertical-align: top;
}

#output-context {
    background-color: #000;
}



